.navItem {
  color: white;
  text-decoration: solid;
  padding-inline: 25px;
  font-weight: 500;
  font-size: large;
  align-items: center;
  display: flex;
}

.stars, .twinkling {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  display:block;
}

@keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}

.twinkling{
  background:transparent url(./assets/twinkling.png) repeat top center;
  z-index: -1;
  animation:move-twink-back 200s linear infinite;
}

.sdk {
  border-radius: 14px;
  height: 400px;
  width: 460px;
  margin: 70px;
  position: relative;
}

.sdk-img {
  height: 60px;
  padding: 30px 15px;
}

.sdk-in-text {
  color: #FFF;
  font-size: 32px;
  font-weight: 500;
  line-height: normal;
  position: absolute;
  left: 25px;
  bottom: 40px;
}